body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}
h1,h2,h3 {
    color:rgb(68, 5, 63);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    font-family:cursive;
    font-style: italic;
    text-align: Left;
    color:rgb(9, 49, 20);
}
marquee {
    background-color: rgb(6, 4, 61); 
    color:rgb(252, 251, 252);
    font-style: italic; 
}
a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:100%;
    text-decoration:underline;
    font-weight: bold;
    font-style:normal;
    text-decoration-color: rgb(67, 36, 6);
}
ul {
    font-family:cursive;
    color:rgb(158, 87, 33);
    list-style:disc;
    text-align: left;
    margin-left: 1px;
}